@import "./background";
.slide {
  @include grey-bg;
  width: 100vw;
  height: 100vh;

  article {
    position: absolute;
    width: 90%;
    height: 90%;
    top: 5%;
    left: 5%;
  }

  .slide-title {
    position: relative;
    top: 20%;
    padding-left: 20%;
  }
}