@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans:300,400,700,900&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

@import "colors";
$alegreya: 'Alegreya Sans', sans-serif;
$lato: 'Lato', sans-serif;
$mono: 'Roboto Mono', monospace;

@mixin font($family, $size, $weight, $color) {
  font-family: $family;
  font-size: $size;
  font-weight: $weight;
  color: $color;
}
h1 {
  @include font($alegreya, 64px, 700, $white);
  text-shadow: 2px 2px 2px transparentize(#000, 0.7);
  line-height: 1.5;
}

h2 {
  @include font($alegreya, 54px, 400, $white);
  text-shadow: 2px 2px 2px transparentize(#000, 0.7);
  line-height: 1.2;
  text-transform: uppercase;
}
p {
  padding: 30px 20px;
  @include font($lato, 32px, 400, #d8d8d8);
  text-shadow: 1px 0 0 #000;
  line-height: 1.2;
}

ul {
  li {
    position: relative;
    left: 25px;
    margin-top: 10px;
    &:before {
      display: inline-block;
      position: absolute;
      content: '';
      width: 18px;
      height: 18px;
      top: 10px;
      left: -25px;
      background-image: url('../assets/list-bullet.svg');
    }
  }
}

a {
  color: inherit;
  &:visited {
    color: inherit;
  }
}
code {
  background-color: black;
  @include font($mono, 22px, normal, $white);
  text-shadow: none;
  padding: 10px;
  display: block;
}
.text-center {
  text-align: center;
}