<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>Firetalk</title>
    <script src="https://www.gstatic.com/firebasejs/5.0.4/firebase.js"></script>
    <script>
      var config = {
        apiKey: "AIzaSyBZTPPF4X5sE9c3havD_-YS4k898TUcyvM",
        authDomain: "firetalk-b07af.firebaseapp.com",
        databaseURL: "https://firetalk-b07af.firebaseio.com/",
        projectId: "firetalk-b07af",
        storageBucket: "",
        messagingSenderId: "",
      };
      firebase.initializeApp(config);
    </script>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but firetalk doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
