<template>
  <div class="slide about-slide">
    <article>
      <h2>O mnie</h2>
        <div class="author-img">
            <img src="../assets/me.png">
            <p>Grzegorz Madajczak</p>
        </div>
        <div class="satelite js">
            <img src="../assets/js_round.svg">
        </div>
        <div class="satelite edu">
            <img src="../assets/education.svg">
        </div>
        <div class="satelite micro">
            <img src="../assets/microbiology.svg">
        </div>
    </article>
    <slide-nav prev="home" next="slide-2"></slide-nav>
  </div>
</template>

<script>
import anime from 'animejs';

export default {
  mounted() {
    const easing = 'easeOutElastic';
    anime({
      targets: '.satelite.js',
      top: '+=400',
      left: '-=400',
      duration: 2000,
      easing,
      delay: 300,
    });
    anime({
      targets: '.satelite.edu',
      top: '+=400',
      duration: 2000,
      easing,
      delay: 500,
    });
    anime({
      targets: '.satelite.micro',
      top: '+=400',
      left: '+=400',
      duration: 2000,
      easing,
      delay: 700,
    });
  },
};
</script>

<style lang="scss">
    .about-slide {
        .author-img {
            img {
                width: 220px;
                height: 220px;
                border-radius: 50%;
                box-shadow: 3px 3px 4px 0px rgba(0,0,0,0.5);
            }
            position: absolute;
            top: 50px;
            left: 50%;
            transform: translateX(-50%);
            text-align: center;
            z-index: 1;
        }
        .satelite {
            width: 200px;
            height: 200px;
            border-radius: 50%;
            position: absolute;
            box-shadow: 3px 3px 4px 0 rgba(0,0,0,0.5);
            top: 50px;
            left: 50%;
            transform: translateX(-50%);
            z-index: 0;
            img {
                width: 100%;
                height: 100%;
            }
        }
    }
</style>
