/**
* Created by Grzegorz Madajczak madajczak@gmail.com on 16.06.2018.
*/

<template>
    <div class="slide angular-history-1">
        <article>
            <h2>Jak powstał Angular?</h2>
            <p>W 2009 roku jeden z dewloperów Google - Miško Hevery,
                pracując nad kilkoma innymi projektami
                pobocznie rozpoczął nowy projekt.<br/>
                <img src="../assets/angular_00.png" class="tweet-shoot">
            </p>
            <p>Miała to być biblioteka ułatwiająca mu tworzenie aplikacji
                webowych, nad którymi pracował.
                <img src="../assets/angular_01.png" class="tweet-shoot">
            </p>
        </article>
        <slide-nav prev="about" down="slide-3"></slide-nav>
    </div>
</template>

<script>
export default {
  name: 'angular-history-1',
};
</script>

<style lang="scss" scoped>
    .tweet-shoot {
        width: 50%;
        display: block;
        margin: 30px auto;
    }
</style>
