/**
* Created by Grzegorz Madajczak madajczak@gmail.com on 16.06.2018.
*/

<template>
    <div class="slide angular-history-1">
        <article>
            <img src="../assets/AngularJS_logo.svg">
            <p>Angular z linii 1.x zyskał szybką popularność.<br/>
                Z pewnością przyczyniło się do tego zastosowanie AngularJS w frameworku Ionic.
            </p>
            <p>
                Najważniejsze cechy:
                <ul>
                    <li>Skupienie się bardziej na logice aplikacji, niż na "widoku"</li>
                    <li>Dwukierunkowe wiązanie danych</li>
                    <li>Zastosowanie jQuery do operacji na DOM</li>
                    <li>Brak natywnej modularności.</li>
                </ul>
            </p>
        </article>
        <slide-nav up="slide-2" next="slide-4"></slide-nav>
    </div>
</template>

<script>
export default {
  name: 'angular-history-1',
};
</script>

<style lang="scss" scoped></style>
