<template>
  <div class="slide home-slide">
    <article>
      <h1 class="slide-title">Który framework JavaScript<br/>
          jest najlepszy na świecie<br/>i dlaczego Vue?</h1>
      <div class="images">
          <img class="image" src="../assets/Angular_full_color_logo.svg"/>
          <img class="image" src="../assets/Vue.js_Logo.svg"/>
      </div>
    </article>
    <slide-nav next="about"></slide-nav>
  </div>
</template>
<script>
export default {};
</script>
<style lang="scss">
    .home-slide {
        .images {
            text-align: center;
            margin-top: 150px;
            .image {
                height: 180px;
            }
        }
    }
</style>
