/**
* Created by Grzegorz Madajczak madajczak@gmail.com on 17.06.2018.
*/

<template>
    <div class="settings">
        <div class="container">
            <div class="row">
                <my-switch v-model="master">Master</my-switch>
            </div>
            <div class="row">
                <input type="text" class="input" v-model="projectId" placeholder="Identyfikator">
            </div>
            <div class="row">
                <button @click="save()">Zapisz</button>
            </div>
            <div class="row" v-if="master">
                <div class="slide-nav">
                    <svg class="chevron left" viewBox="0 0 24 24" @click="send('prev')"
                         :class="currentSlide.meta.prev ? '' : 'disabled'">
                        <path d="M15.41,16.58L10.83,12L15.41,7.41L14,6L8,12L14,18L15.41,16.58Z" />
                    </svg>
                    <svg class="chevron top" viewBox="0 0 24 24" @click="send('up')"
                         :class="currentSlide.meta.up ? '' : 'disabled'">
                        <path d="M8.59,16.58L13.17,12L8.59,7.41L10,6L16,12L10,18L8.59,16.58Z" />
                    </svg>
                    <svg class="chevron bottom" viewBox="0 0 24 24" @click="send('down')"
                         :class="currentSlide.meta.down ? '' : 'disabled'">
                        <path d="M8.59,16.58L13.17,12L8.59,7.41L10,6L16,12L10,18L8.59,16.58Z" />
                    </svg>
                    <svg class="chevron right" viewBox="0 0 24 24" @click="send('next')"
                         :class="currentSlide.meta.next ? '' : 'disabled'">
                        <path d="M8.59,16.58L13.17,12L8.59,7.41L10,6L16,12L10,18L8.59,16.58Z" />
                    </svg>
                    <div class="slide-start" @click="start()"></div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import MySwitch from '@/components/MySwitch.vue';

const firedb = window.firebase.database();

export default {
  name: 'settings',
  components: {
    MySwitch,
  },
  computed: {
    slides() {
      return this.$router.options.routes;
    },
    currentSlide() {
      return this.slides[this.current];
    },
  },
  data() {
    return {
      projectId: '',
      master: false,
      current: 0,
    };
  },
  created() {
    this.projectId = this.$store.state.projectId;
    this.master = this.$store.state.master;
  },
  methods: {
    save() {
      this.$store.commit('set-master', this.master);
      this.$store.commit('set-project-id', this.projectId);
      if (this.master) {
        firedb.ref(this.projectId).set({
          current: this.slides[0].name,
        });
      }
    },
    send(dir) {
      if (this.master) {
        this.current = (dir === 'next' || dir === 'down') ? this.current + 1 : this.current - 1;
        firedb.ref(this.projectId).set({
          current: this.slides[this.current].name,
          transitionName: `slide-${dir}`,
        });
      }
    },
    start() {
      this.current = 0;
      firedb.ref(this.projectId).set({
        current: this.slides[0].name,
      });
    },
  },
};
</script>

<style lang="scss" scoped>
    @import "../sass/typography";
    .settings {
        width: 100vw;
        height: 100vh;
        background-image: linear-gradient(45deg, #283048, #2c3e50);
        .input {
            height: 30px;
            border-radius: 30px;
            background-color: #fefefe;
            border: 2px solid #d8d8d8;
            outline: none;
            width: 250px;
            padding: 0 20px;
            @include font($lato, 18px, normal, #000);
        }
        button {
            height: 36px;
            border-radius: 30px;
            background-color: #c8c8c8;
            border: 2px solid #d8d8d8;
            outline: none;
            padding: 0 40px;
            @include font($lato, 18px, normal, #000);
            box-shadow: 2px 2px 8px 6px rgba(0,0,0,0.3);
            cursor: pointer;
            &:hover {
                background-color: darken(silver, 20%);
            }
        }

        .slide-nav {
            position: relative;
            top: 50px;
            margin-bottom: 50px;
            .slide-start {
                width: 50px;
                height: 50px;
                border-radius: 50%;
                background-color: rgba(254, 254, 254, 0.16);
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-35px, -25px);
                &:hover {
                    background-color: #fff;
                }
            }
            .chevron {
                width: 150px;
                height: 150px;
                cursor: pointer;
                filter: drop-shadow( 2px 2px 2px rgba(0,0,0,0.5));
                transition: filter 200ms;
                position: absolute;
                path {
                    fill: rgba(254, 254, 254, 0.16);
                    transition: fill 200ms;
                }

                &:hover {
                    filter: drop-shadow( 5px 5px 5px rgba(0,0,0,0.5));
                    transition: filter 200ms;
                    path {
                        fill: #fefefe;
                        transition: fill 200ms;
                    }
                }
                &.disabled {
                    pointer-events: none;
                    opacity: 0.1;
                }
                &.right {
                    position: static;
                }
                &.left {
                    position: static;
                }
                &.top {
                    transform: rotate(-90deg);
                    top: -75px;
                    left: 75px;
                }
                &.bottom {
                    transform: rotate(90deg);
                    bottom: -75px;
                    left: 75px;
                }
            }
        }

        .container {
            width: 320px;
            padding: 50px 10px;
            margin: 0 auto;
            .row {
                padding-top: 20px;
            }
        }
    }
</style>
