/**
* Created by Grzegorz Madajczak madajczak@gmail.com on 20.06.2018.
*/

<template>
    <div class="slide slide-8">
        <article>
            <h2>
                <img src="../assets/Angular_full_color_logo.svg" class="small-logo">
                vs.
                <img src="../assets/Vue.js_Logo.svg" class="small-logo">
            </h2>
            <p>
                Tworzenie dyrektyw w Vue jest nie dość, że proste, to jeszcze
                APi daje bardzo duże możliwości.
            </p>
            <code>
<pre>
Vue.directive('name', {
    bind(el, bindings) {},
    inserted(el, bindings) {},
    updated(el, bindings) {},
});
</pre>
            </code>
            <code>
                &lt;input v-name:argument.modifier_a.modifier_b&gt;
            </code>
        </article>
        <slide-nav prev="slide-7" next="slide-9"></slide-nav>
    </div>
</template>

<script>
export default {
  name: 'slide-8',
};
</script>

<style lang="scss" scoped>
    .slide-8 {
        .small-logo {
            width: 100px;
            vertical-align: middle;
        }
    }
</style>
