/**
* Created by Grzegorz Madajczak madajczak@gmail.com on 17.06.2018.
*/

<template>
    <div class="slide">
        <article>
            <img class="fullscreen" src="../assets/Distracted-Boyfriend.jpg">
        </article>
        <slide-nav prev="slide-9" next="slide-11"></slide-nav>
    </div>
</template>

<script>
export default {};
</script>

<style lang="scss" scoped>
    .fullscreen {
        width: 100%;
        display: block;
        margin: auto 0;
    }
</style>
