/**
* Created by Grzegorz Madajczak madajczak@gmail.com on 17.06.2018.
*/

<template>
    <div class="slide slide-6">
        <article>
            <h2>
                <img src="../assets/Angular_full_color_logo.svg" class="small-logo">
                vs.
                <img src="../assets/Vue.js_Logo.svg" class="small-logo">
            </h2>
            <p>
                <ul>
                    <li>Vue posiada prostszą składnię, zwłaszcza w zakresie wiązania...</li>
                    <code>
                        &lt;input [(ngModel)]="example"&gt;
                    </code>
                    <code>
                        &lt;input (change)="onChange()"&gt;
                    </code>

                    <code style="margin-top: 10px;">
                        &lt;input v-model="example"&gt;
                    </code>
                    <code>
                        &lt;input @change="onChange()"&gt;
                    </code>
                    <code>
                        &lt;input :property="bindedProperty"&gt;
                    </code>
                    <li>Vue wykorzystuje czysty JavaScript ES6, starając się maksymalnie
                        zachować zgodność z tym standardem</li>
                    <li>Możliwe jest jednak stosowanie TypeScript ze wszystkimi
                        dobrodziejstwami tego subsetu.</li>
                </ul>
            </p>
        </article>
        <slide-nav prev="slide-5" next="slide-7"></slide-nav>
    </div>
</template>

<script>
export default {};
</script>

<style lang="scss" scoped>
    .slide-6 {
        .small-logo {
            width: 100px;
            vertical-align: middle;
        }
    }
</style>
