/**
* Created by Grzegorz Madajczak madajczak@gmail.com on 17.06.2018.
*/

<template>
    <div class="slide slide-11">
        <article>
            <p>
                <img src="../assets/logo.svg" class="ide-logo">
                <ul style="margin-top: 70px;">
                    <li>Kod źródłowy aplikacji:<br/><a href="http://bit.ly/madajczak-src" target="_blank">http://bit.ly/madajczak-src</a></li>
                    <li style="margin-top: 30px;">Link do prezentacji:<br/><a href="http://bit.ly/madajczak-firetalk">http://bit.ly/madajczak-firetalk</a></li>
                    <li style="margin-top: 30px;">Adres do kontaktu:<br/><a href="mailto:madajczak@gmail.com">madajczak@gmail.com</a></li>
                </ul>
            </p>
        </article>
        <slide-nav prev="slide-10"></slide-nav>
    </div>
</template>

<script>
export default {};
</script>

<style lang="scss" scoped>
    .ide-logo {
        width: 35%;
        float: right;
        position: relative;
        top: 150px;
        margin-right: 100px;
    }
</style>
