/**
* Created by Grzegorz Madajczak madajczak@gmail.com on 20.06.2018.
*/

<template>
    <div class="slide slide-9">
        <article>
            <h2>
                <img src="../assets/Angular_full_color_logo.svg" class="small-logo">
                vs.
                <img src="../assets/Vue.js_Logo.svg" class="small-logo">
            </h2>
            <p>
                <ul>
                    <li>Bardzo dobrze działające @vue/cli, obecnie nawet w wersji GUI.</li>
                    <li>Nuxt - fork Vue przeznaczony do SSR</li>
                    <li>Rewelacyjny router</li>
                    <li>Bliska doskonałości implementacjia modelu fluxowego w postaci rozszerzenia Vuex</li>
                </ul>
            </p>
            <p>
                Zalety Angular
                <ul>
                    <li>Angular module</li>
                    <li>Liczne wbudowane filtry - pipes</li>
                    <li>Liczne wbudowane narzędzia, np. klient http</li>
                </ul>
            </p>
        </article>
        <slide-nav prev="slide-8" next="slide-10"></slide-nav>
    </div>
</template>

<script>
export default {
  name: 'slide-9',
};
</script>

<style lang="scss" scoped>
    .slide-9 {
        .small-logo {
            width: 100px;
            vertical-align: middle;
        }
        .inline-svg {
            width: 28px;
            height: 28px;
            vertical-align: top;
            position: relative;
            top: 6px;
            path {
                fill: #fff;
            }
            &.react {
                path {
                    fill: #6fbfdb;
                }
            }
        }
    }
</style>