<template>
  <div class="slide vue-2">
    <article>
      <h2>Początki Vue</h2>
      <p>
        <img class="evan" src="https://cdn-images-1.medium.com/max/1600/0*xkJgg-6HskYrQ3N7.jpeg">
        Twórca Vue - Evan You w 2013 roku pracował w Google na kilkoma projektami wykorzystującymi AngularJS.<br/>
        Pomimo ogólnego zadowolenia z tego frameworka, dostrzegał "kilka" problemów, między innymi jego wielkość.<br/>
        Dletego też Evan You postanowił napisać własny framework, który będzie posiadał najważniejsze cechy Angular,
        a jednocześnie będzie "lekki".
      </p>
      <div class="text-center">
        <img class="qrcode" src="../assets/interview.png">
      </div>
      <p class="text-center">
        http://bit.ly/2HY4GAt
      </p>
    </article>
    <slide-nav prev="slide-2" down="slide-5"></slide-nav>
  </div>
</template>
<style lang="scss">
  .vue-2 {
    .evan {
      width: 250px;
      height: 250px;
      border-radius: 50%;
      vertical-align: top;
      margin-right: 30px;
      float: left;
    }
  }
</style>
