<template>
  <div class="slide">
    <article>
      <h2>Wielka zmiana</h2>
      <p>W 2014 roku Vue zostało przepisane niemal całkowicie od nowa, zachowując minimalną kompatybilność wsteczną.<br/>
      Z pewnością zmiany we Vue 2.x zbliżyły ten framework do Angular 2, jednak znacząco oddalając oba frameworki.</p>
      <p>
        <ul>
          <li>Jednokierunkowe wiązanie danych</li>
          <li>Usunięto wiele "ficzerów" - większość logiki trzeba pisać samemu w vanilla-JS
            <ul>
              <li>Brak filtrów (pipes)</li>
              <li>Prostsza składnia</li>
              <li>Łatwiejsze wiązanie</li>
              <li>Łatwiejsza obsługa eventów.</li>
            </ul>
          </li>
        </ul>
      </p>
    </article>
    <slide-nav up="slide-4" next="slide-6"></slide-nav>
  </div>
</template>
