/**
* Created by Grzegorz Madajczak madajczak@gmail.com on 17.06.2018.
*/

<template>
    <div class="switch">
        <input type="checkbox" :id="id" @change="onChange">
        <label :for="id" class="switch-label">
            <span class="label on">ON</span>
            <span class="label off">OFF</span>
            <div class="switch-indicator"></div>
        </label>
        <span class="title"><slot></slot></span>
    </div>
</template>

<script>
export default {
  name: 'my-switch',
  props: {
    value: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      id: '',
    };
  },
  methods: {
    onChange(ev) {
      const checked = ev.target.checked;
      this.$emit('input', checked);
    },
  },
  mounted() {
    this.id = Math.random().toString(36).substr(2, 5);
    this.$el.querySelector('input[type=checkbox]').checked = this.value;
  },
  watch: {
    value(newVal) {
      this.$el.querySelector('input[type=checkbox]').checked = newVal;
    },
  },
};
</script>

<style lang="scss" scoped>
    @import "../sass/typography";
    .switch{
        .switch-label {
            display: inline-block;
            width: 80px;
            height: 30px;
            border-radius: 30px;
            background-color: #fefefe;
            border: 2px solid #d8d8d8;
            position: relative;
            left: 0;
            cursor: pointer;
            margin-right: 10px;
            @include font($lato, 14px, bold, #d8d8d8);
            .switch-indicator {
                height: 30px;
                width: 30px;
                border-radius: 28px;
                background-color: #d8d8d8;
                box-sizing: border-box;
                border: 2px solid #d8d8d8;
                display: inline-block;
                position: absolute;
                left: 0;
                transition: all 200ms;
            }
            .label {
                line-height: 30px;
                user-select: none;
                display: inline-block;
                padding: 0 4px;
                &.on {
                    margin-left: 6px;
                    opacity: 0;
                    color: #2c3e50;
                }
                &.off {
                    float: right;
                    margin-right: 6px;
                    opacity: 1;
                }
            }
        }
        .title {
            @include font($lato, 18px, normal, #fff);
        }
        input[type="checkbox"] {
            opacity: 0;
            position: absolute;
            &:checked {
                &~.switch-label {
                    .switch-indicator {
                        left: calc(100% - 30px);
                        transition: all 200ms;
                        background-color: #2c3e50;
                    }
                    .off {
                        opacity: 0;
                    }
                    .on {
                        opacity: 1;
                    }
                }
            }
        }
    }
</style>
