/**
* Created by Grzegorz Madajczak madajczak@gmail.com on 16.06.2018.
*/

<template>
    <div class="slide-nav">
        <svg class="chevron left" :class="(prev === undefined) ? 'disabled' : ''"
             viewBox="0 0 24 24" @click="go('prev', prev)">
            <path d="M15.41,16.58L10.83,12L15.41,7.41L14,6L8,12L14,18L15.41,16.58Z" />
        </svg>
        <svg class="chevron top" viewBox="0 0 24 24" @click="go('up', up)"
             :class="(up === undefined) ? 'disabled' : ''">
            <path d="M8.59,16.58L13.17,12L8.59,7.41L10,6L16,12L10,18L8.59,16.58Z" />
        </svg>
        <svg class="chevron bottom" viewBox="0 0 24 24"
             :class="(down === undefined) ? 'disabled' : ''" @click="go('down', down)">
            <path d="M8.59,16.58L13.17,12L8.59,7.41L10,6L16,12L10,18L8.59,16.58Z" />
        </svg>
        <svg class="chevron right" viewBox="0 0 24 24"
             :class="(next === undefined) ? 'disabled' : ''" @click="go('next', next)">
            <path d="M8.59,16.58L13.17,12L8.59,7.41L10,6L16,12L10,18L8.59,16.58Z" />
        </svg>
    </div>
</template>

<script>
export default {
  name: 'slide-nav',
  props: {
    next: {
      type: String,
    },
    prev: {
      type: String,
    },
    up: {
      type: String,
    },
    down: {
      type: String,
    },
  },
  methods: {
    go(dir, name) {
      this.$store.commit('transition-name', `slide-${dir}`);
      this.$nextTick(() => {
        this.$router.push({ name });
      });
    },
  },
};
</script>

<style lang="scss" scoped>
    .slide-nav {
        position: absolute;
        bottom: 5%;
        right: 0;
        .chevron {
            width: 82px;
            height: 82px;
            cursor: pointer;
            filter: drop-shadow( 2px 2px 2px rgba(0,0,0,0.5));
            transition: filter 200ms;
            position: absolute;
            path {
                fill: rgba(254, 254, 254, 0.16);
                transition: fill 200ms;
            }

            &:hover {
                filter: drop-shadow( 5px 5px 5px rgba(0,0,0,0.5));
                transition: filter 200ms;
                path {
                    fill: #fefefe;
                    transition: fill 200ms;
                }
            }
            &.disabled {
                pointer-events: none;
                opacity: 0;
            }
            &.right {
                position: static;
            }
            &.left {
                position: static;
            }
            &.top {
                transform: rotate(-90deg);
                top: -40px;
                left: 40px;
            }
            &.bottom {
                transform: rotate(90deg);
                bottom: -40px;
                left: 40px;
            }
        }
    }
</style>
