<template>
  <div id="app">
    <transition :name="$store.state.transitionName">
      <router-view/>
    </transition>
    <img src="./assets/noun_150953_cc.svg" class="ear" v-if="!master">
  </div>
</template>
<script>
const firedb = window.firebase.database();

export default {
  computed: {
    projectId() {
      return this.$store.state.projectId;
    },
    master() {
      return this.$store.state.master;
    },
  },
  methods: {
    firedbListener() {
      if (this.projectId !== '') {
        firedb.ref(this.projectId).on('value', (snapshot) => {
          if (!this.$store.state.master) {
            const data = snapshot.val();
            this.$store.commit('transition-name', data.transitionName);
            this.$router.push({ name: data.current });
          }
        });
      }
    },
  },
  mounted() {
    this.firedbListener();
  },
  watch: {
    projectId() {
      this.firedbListener();
    },
  },
};
</script>
<style lang="scss">
  .ear {
    position: fixed;
    left: 10px;
    bottom: 10px;
    width: 50px;
    opacity: 0.2;
  }
  $transition-time: 550ms ease-in-out;
  .slide-next-enter-active {
    position: fixed;
    left: 100%;
  }
  .slide-next-enter-to {
    left: 0;
    transition: left $transition-time;
  }
  .slide-next-leave-active {
    position: fixed;
    left: 0;
  }
  .slide-next-leave-to {
    left: -100%;
    transition: left $transition-time;
  }

  .slide-prev-enter-active {
    position: fixed;
    left: -100%;
  }
  .slide-prev-enter-to {
    left: 0;
    transition: left $transition-time;
  }
  .slide-prev-leave-active {
    position: fixed;
    left: 0;
  }
  .slide-prev-leave-to {
    left: 100%;
    transition: left $transition-time;
  }
  .slide-up-enter-active {
    position: fixed;
    top: -100%;
  }
  .slide-up-enter-to {
    top: 0;
    transition: top $transition-time;
  }
  .slide-up-leave-active {
    position: fixed;
    top: 0;
  }
  .slide-up-leave-to {
    top: 100%;
    transition: top $transition-time;
  }

  .slide-down-enter-active {
    position: fixed;
    bottom: -100%;
  }
  .slide-down-enter-to {
    bottom: 0;
    transition: bottom $transition-time;
  }
  .slide-down-leave-active {
    position: fixed;
    bottom: 0;
  }
  .slide-down-leave-to {
    bottom: 100%;
    transition: bottom $transition-time;
  }
</style>
